<div *ngIf="repo" class="repo-details-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ repo.name }}</mat-card-title>
      <mat-card-subtitle>
        <strong>Propriétaire :</strong> {{ repo.owner.login }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Description :</strong> {{ repo.description }}</p>
      <a mat-button [href]="repo.html_url" target="_blank">Voir sur GitHub</a>
      <mat-divider></mat-divider>
      <img [src]="repo.owner.avatar_url" alt="Avatar du propriétaire" width="100" class="avatar">
      <div *ngIf="ownerDetails">
        <p><strong>Dépôts publics :</strong> {{ ownerDetails.public_repos }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!repo">
  <mat-spinner></mat-spinner>
  <p>Chargement des détails du dépôt...</p>
</div>