.repo-details-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 16px;
  }
  
  .avatar {
    border-radius: 50%;
    margin-top: 10px;
  }

  mat-card-content p {
    margin-bottom: 15px;
  }

  mat-card-title {
    margin-bottom: 10px;
  }
  
  mat-card-subtitle {
    margin-bottom: 10px;
  }
  
  a[mat-button] {
    display: block;
    margin-bottom: 15px;
  }
  
  .owner-details p {
    margin-top: 10px;
  }
  